<app-card>
    <ng-container *ngIf="showCardHeader" ngProjectAs=".header">
        <div class="header">
            <h1>Angular</h1>
        </div>
    </ng-container>
    <div class="content">One framework. Mobile & desktop.</div>
    <div class="footer">
        <b>Super-powered by Google </b>
    </div>
    <p>Default selector</p>
</app-card>

<app-card>
    <ng-container *ngIf="showCardHeader" ngProjectAs=".header">
        <div class="header">
            <h1 style="color: red">React</h1>
        </div>
    </ng-container>
    <div class="content">A JavaScript library for building user interfaces</div>
    <div class="footer">
        <b>Facebook Open Source </b>
    </div>
</app-card>

<button-with-projection (click)="showCardHeader = !showCardHeader">Toggle Card Title</button-with-projection>